*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 1rem;
    background-color: rgba(124, 79, 247, 0.898);
   
}
h1{
   text-align: center;
    margin-bottom: 1rem;
}
#map{
    height:75vh;
    width:100%;
    z-index: 1;
    margin-top: 8rem;
}
.input-field{
    width: 80%;
    border: 0;
    border-radius: 0.5rem;
    outline: 0;
    padding-left: 0.5rem;
}
.button{
    width:18%;
    border-radius: 0.5rem;
    border:0;
}
.container{
    position: absolute;
  top:10rem;
z-index:2;
height: 8rem;
    width:80%;
   left: 50%;
   transform: translateX(-50%);
    display:grid;
    grid-template-columns:repeat(4,1fr);
    margin-top:1rem;
        background-color: rgb(255, 255, 255);
        box-shadow: 5px 5px 10px rgba(107, 107, 108, 0.898) ;
        padding: 1rem;
        gap:1rem
       
}
.ip-container, .location-container, .timezone-container, .isp-container{
    display: flex;
    flex-direction: column;
 
    gap:0.6rem;
    
    border-right:2px solid #0c0c0c40;
   
}
.isp-container{
    border-right: 0;
}
.searchbar{
    width:50%;
    height: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    
 }
@media only screen and (max-width:768px){
   
    .searchbar{
       width:50%;
       margin-left: auto;
       margin-right: auto;
       display: flex;
       justify-content: space-evenly;
    }
    .container{
        width:80%;
        top:8rem;
    }
}